[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
gunicorn = "*"
oauth = "*"
oauthlib = "*"
requests = "*"
simplejson = "*"
scipy = "*"
numpy = "*"
pandas = "*"
bokeh = "*"
flask = "*"
Jinja2 = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
